{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../table/assinment_2/assinment_3/practice/fontawesome-free-6.2.1-web/fontawesome-free-6.2.1-web/css/all.css">
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    <style>
        body{
           
            background-image: url("{% static 'images/im4.jpeg' %}");
      
        }
        fieldset{
          
            background-image: url("{% static 'images/im4.jpeg' %}");
        }
       
        
    </style>
</head>
<body>
  
    <div>
        <form action="">
            <fieldset><legend>forgotted form</legend>
        <table>
            <span id="span2">
                Welcome to 
            </span>
            <span id="span1">J</span>
            <span id="span3">spiders</span>
        
            <h2>
                    please enter the details given below
                </h2>
            <tr id="tr">
                <td colspan="2">
                    <input type="text" name="" id="int1" placeholder="ENTER THE EMAIL">
                </td>
            </tr>
            <tr><td colspan="2" >
                <input type="password" name="" id="int1" placeholder="CREATE NEW PASSWORD">
            </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="submit" id="bt1"></td>
            </tr>
        </table>
        </form>
        </fieldset>
        
    </div>
</body>
</html>